# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env
.env.local
.env.*.local

# Databases
db/*.db
db/xeno_crm.db
db/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


.env
venv/
__pycache__/
*.pyc
*.db
node_modules/
dist/